.apexcharts-legend,
.apexcharts-toolbar,
#SvgjsLine1623,
.apexcharts-xaxis-tick,
.apexcharts-xaxis {
  display: none !important;
}
.apexchartsrevenuexbar {
  padding: 0 !important;
}

#apexchartsbasicxbar .apexchartsbasicxbar {
  padding: 0 !important;
  margin: 0 !important;
}
